*{
  margin:0;
  padding:0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
body{
  overflow: hidden;        /*使PC端不出现滚动条*/
}

#canvas{
	position: fixed;        /*使手机端不会因触摸而上下滑动*/
 	top:0;
  left: 0; 
  background-color: #eee;
}
#options{
  position: fixed;        /*使所有选项在canvas之上，此外也可以用z-index达到同样的效果*/
  top:0;
  right: 0;
  padding: 10px;
}
ul{
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
li{
  cursor: pointer;
  margin: 4px;
}
ul#actions svg{
  width: 20px;
  height: 20px;
  transition: all 0.2s;
}
ul#actions svg.active{
  transform: scale(1.25);
  fill: red;
}



